html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-y: scroll;
}
.bg {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat:no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    margin: auto;
    width: 60%;
    padding: 10px;
    
   
}

.table {
    position: relative;
    margin: auto;
    width: 100%;
    padding: 10px;
}


.userbg {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    overflow:hidden;
    min-height:100%;
    display:block;
}
.bgbook {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    overflow: hidden;
    min-height: 100%;
    display: block;
}